<style>
    .ui_button {
        padding:10px;
        background: #01AAED;
        color: #fff;
    }
    .ui_button:hover {
       opacity: 0.9;
    }
</style>
<!-- <div class="default"> -->
       
    <!-- <header>
    </header> -->
    
    <!-- <div v-for="(index,item) in sdkn" > -->
        <input type="text" id="label_file" />
        <ui-button class="fileclass" id="filedialog">选择文件</ui-button>
            <!-- <input type="checkbox" style="display: inline-block; vertical-align: middle;" @change="on_checkbox(item.name)"  class="uicheckbox" v-model="checkboxModel" :id="item.name" :value="item.name" >
            <label :for="item.name" >{{item.desc}}</label> -->
    <!-- </div> -->
<!-- </div> -->