<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>petqua_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,75},{53,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{53,37}}</string>
                <key>sourceSize</key>
                <string>{55,37}</string>
            </dict>
            <key>petqua_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,112},{52,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{52,36}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>petqua_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,36},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,39}}</string>
                <key>sourceSize</key>
                <string>{53,39}</string>
            </dict>
            <key>petqua_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,148},{50,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,36}}</string>
                <key>sourceSize</key>
                <string>{50,38}</string>
            </dict>
            <key>petqua_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{54,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,36}}</string>
                <key>sourceSize</key>
                <string>{54,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>petQua.png</string>
            <key>size</key>
            <string>{54,184}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f219b68bb8d02164bc05b5b9fac5b99:1/1$</string>
            <key>textureFileName</key>
            <string>petQua.png</string>
        </dict>
    </dict>
</plist>
