<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,35}</string>
                <key>spriteSourceSize</key>
                <string>{33,35}</string>
                <key>textureRect</key>
                <string>{{0,0},{33,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,31}</string>
                <key>spriteSourceSize</key>
                <string>{40,31}</string>
                <key>textureRect</key>
                <string>{{33,0},{40,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>AHLog.png</string>
            <key>size</key>
            <string>{73,35}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc67670f6019d3bf64d857936caaf547:0e8b0f13db47844415e413e97b485564:17c0f2eef0f1bd959692a5e72878dd1b$</string>
            <key>textureFileName</key>
            <string>AHLog.png</string>
        </dict>
    </dict>
</plist>
